<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Fund Transfer</h1>
    </div>
    <div>
        <form method="POST" action="/transfer" data-th-object="${xferdet}">
            <table>
                <tr>
                    <td>From account: </td>
                    <td>
                        <select data-th-field="*{fromAccId}">
                            <option data-th-each="i : ${account}" data-th-value="${i.accountId}" data-th-text="${i.name}+' ('+${i.accountId}+')'">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>To account:</td>
                    <td>
                        <select data-th-field="*{toAccId}">
                            <option data-th-each="i : ${account}" data-th-value="${i.accountId}" data-th-text="${i.name}+' ('+${i.accountId}+')'">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Amount:</td>
                    <td>
                        <input type="number" min="1" name="amount" data-th-field="*{amount}">
                    </td>
                </tr>
                <tr>
                    <td>Comments:</td>
                    <td>
                        <input type="text" data-th-field="*{comments}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Transfer</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-th-object="${xferdet}">
        <h4 data-th-text="*{error}"></h4>
    </div>
</body>
</html>